<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345973023112-rvm74hsap7f1s5ge0hl0ve83j43bt866.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345973023112-rvm74hsap7f1s5ge0hl0ve83j43bt866</string>
	<key>API_KEY</key>
	<string>AIzaSyDHWN4JiuqMUFOfpnIMXXaRv1dTNc96hd0</string>
	<key>GCM_SENDER_ID</key>
	<string>345973023112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gymTracker</string>
	<key>PROJECT_ID</key>
	<string>adonis-atlas-app</string>
	<key>STORAGE_BUCKET</key>
	<string>adonis-atlas-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345973023112:ios:b67f7d29c80b1588d05a3d</string>
	<key>DATABASE_URL</key>
	<string>https://adonis-atlas-app.firebaseio.com</string>
</dict>
</plist>